#home {
  overflow: hidden;
  margin-top: 10vh;
  .sm-heading {
    -webkit-transform: rotateX(90deg);
    transform: rotateX(90deg);
    -webkit-transform-origin: center top;
    -ms-transform-origin: center top;
    transform-origin: center top;
  }
  .icons {
    a {
      display: inline-block;
      padding: 0.4rem;
      &:hover {
        color: $secondary-color;
        transform: scale(1.1);
        @include easeOut();
      }
    }
  }
  .letter {
    opacity: 0;
  }
  .loaded {
    .letter {
      opacity: 1;
    }
    &.active {
      .letter {
        @extend .bounceIn;
        @extend .animated;
      }
    }
  }
}