@include mediaSm {
  main {
    padding: 3rem;
  }
  #home {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 3rem;
  }
  .sm-heading {
    font-size: 1.5rem;
  }
  .menu {
    flex-flow: row nowrap;
    &-icon, &-nav {
      float: left;
      width: 50%;
    }
    &-nav {
      transform: translate3d(0,-100%,0);
      .nav-link {
        font-size: 25px;
        padding: 1rem 0;
      }
    }
    &-icon {
      transform: translate3d(0,100%,0);
      .portrait {
        width: 200px;
        height: 200px;
      }
    }
  }
  #about {
    @include stylingCube(8rem);
  }

}

@include mediaMd {
  .menu-icon {
    .portrait {
      width: 250px;
      height: 250px;
    }
  }
  #about {
    .about-info {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cube-container,
    .about-info-text {
      width: 50%;
    }
    @include stylingCube(8rem);
    .cube {
      margin: auto;
    }
  }
}
@include mediaLg {
  #about {
    @include stylingCube(10rem);
    .cube {
      margin: auto;
    }
  }
}