@include mediaSm {
  main {
    padding: 3rem;
  }
  #home {
    margin-top: 20vh;
  }
  .lg-heading {
    font-size: 3rem;
  }
  .sm-heading {
    font-size: 1.5rem;
  }
  .menu {
    flex-flow: row nowrap;
    &-icon, &-nav {
      float: left;
      width: 50%;
    }
    &-nav {
      transform: translate3d(0,-100%,0);
      .nav-link {
        font-size: 25px;
        padding: 1rem 0;
      }
    }
    &-icon {
      transform: translate3d(0,100%,0);
      .portrait {
        width: 200px;
        height: 200px;
      }
    }
  }
  #about {
    @include stylingCube(8rem);
  }

}

@include mediaMd {
  .menu-icon {
    .portrait {
      width: 250px;
      height: 250px;
    }
  }
  #about {
    .about-info {
      display: flex;
      align-items: center;
      justify-content: center;
    }
    .cube-container,
    .about-info-text {
      width: 50%;
    }
    .cube {
      margin: auto;
    }
  }
  #projects {
    .filter {
      max-width: 80%;
    }
    .filter-btn {
      width: auto;
      margin: 0.5rem;
      flex: 1;
    }
    .projects-container {
      justify-content: center;
      .project {
        margin: 1rem;
      }
    }
  }
  #contact {
    .contact-box {
      a {
        font-size: 1.5rem;
        span {
          font-size: 1.5rem;
        }
      }
    }
  }
}
@include mediaLg {
  #home {
    margin-left: 10%;
  }
  #about {
    @include stylingCube(11rem);
    .cube {
      margin: auto;
    }
  }
  #projects {
    .filter {
      max-width: 60%;
    }
  }
  #contact {
    margin-left: 10%;
    .contact-boxes {
      flex-direction: column-reverse;
      align-items: flex-start;
      width: 600px;
    }
    .contact-box {
      &:nth-child(1) {
        align-self: flex-end;
      }
      &:nth-child(2) {
        margin-left: 15%;
      }
    }
  }
}